<!DOCTYPE html>

<head>
    <title>BMI Calculator</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css", href="{{ url_for('static', filename='style.css') }}">
</head>

<h1>BMI Calculator</h1>

<body >
    <div>
        <p>Please enter your name:</p>
        <form class="pure-form" method="POST" action="/bmiCalc">
            Mass: <br/>
            <input type="text" name="mass"><br/>
            Height: <br/>
            <input type="text" name="height">
            <button type="submit" class="pure-button pure-button-primary" value="submit">Submit</button>
        </form>

    </div>

    <br>

    <div>
        {% if error %}
            <p>Oops! {{error}}</p>
        {% elif bmi %}
            <p>Your BMI is {{bmi}}</p>
        {% endif %}
    </div>
    
    
</body>
